<div
  class="card relative bg-base-100 shadow-xl w-full h-full min-w-0 rounded-xl transition-colors duration-300"
  [style.backgroundColor]="data().backgroundColor ?? 'var(--fallback-b1,oklch(var(--b1)/1))'"
  [style.color]="data().color ?? 'inherit'"
  cdkDrag 
  cdkDragPreviewContainer="parent">
  
         <button
    class="btn btn-circle btn-sm absolute top-3 right-3 bg-base-100/50 hover:bg-base-100/90 backdrop-blur-md border-none shadow-sm transition-all z-10"
    [style.color]="data().color"
    (click)="showOptions.set(true)">
    <ng-icon name="heroCog6Tooth" class="text-lg"></ng-icon>
  </button>

  <div class="card-body p-4 sm:p-6 gap-2 h-full min-h-0 overflow-hidden">

    <div class="badge badge-primary badge-sm">{{ data().label }}</div>

    <div class="relative w-full h-full min-h-0 text-sm mt-1">


        <div class="h-full min-h-0 overflow-auto pr-1">
          <ng-container [ngComponentOutlet]="data().content"></ng-container>
        </div>

       @if(showOptions()){
           <app-widgets-options
             (closeOptions)="showOptions.set(false)"
             [(showOptions)]="showOptions"
             [widget]="data()">
           </app-widgets-options>
        }
    </div>

  </div>
</div>