<div
  class="card bg-base-100 shadow-xl w-full h-full rounded-xl transition-colors duration-300"
  [style.backgroundColor]="data().backgroundColor ?? 'var(--fallback-b1,oklch(var(--b1)/1))'"
  [style.color]="data().color ?? 'inherit'">

  <div class="card-body p-6 gap-2 overflow-hidden">

    <div class="badge badge-primary badge-sm">{{ data().label }}</div>

    <div class="w-full h-full text-sm mt-1">

       <button
  class="btn btn-circle btn-sm absolute top-2 right-2 bg-base-100/50 hover:bg-base-100/90 backdrop-blur-md border-none shadow-sm transition-all"
  [style.color]="data().color"
  (click)="showOptions.set(true)">

  <ng-icon name="heroCog6Tooth" class="text-lg"></ng-icon>

</button>

        <ng-container [ngComponentOutlet]="data().content"></ng-container>

       @if(showOptions()){
           <app-widgets-options
             (closeOptions)="showOptions.set(false)"
             [(showOptions)]="showOptions"
             [widget]="data()">
           </app-widgets-options>
        }
    </div>

  </div>
</div>