<div class="flex flex-col h-full gap-2 overflow-hidden">

  @if (isLoading()) {
    <div class="flex justify-center items-center flex-1">
      <span class="loading loading-spinner loading-md"></span>
    </div>
  } @else if (errorMessage()) {
    <div class="alert alert-error text-sm">{{ errorMessage() }}</div>
  } @else {

    @if (canEdit()) {
      <div class="flex gap-2">
        <input class="input input-sm flex-1" placeholder="Neue Aufgabe..." #newTodoInput />
        <button class="btn btn-sm btn-primary px-3" (click)="addTodoItem(newTodoInput.value); newTodoInput.value = '';">+</button>
      </div>
    } 

    <ul class="flex flex-col gap-1 overflow-y-auto flex-1">
      @for (todo of todos(); track todo.id) {
        <li class="flex items-center gap-2">
          <input type="checkbox" [checked]="todo.is_completed" class="checkbox" [disabled]="!canEdit()" (change)="toggleComplete(todo)" />
          @if (editingId() === todo.id && canEdit()) {
            <input class="input input-xs flex-1" [value]="editingText()" (input)="editingText.set($any($event.target).value)" (keyup.enter)="saveEdit(todo.id)" (keyup.escape)="cancelEdit()" />
            <button class="btn btn-xs btn-success" title="Speichern" (click)="saveEdit(todo.id)">
              <ng-icon name="heroCheck" class="text-base" />
            </button>
            <button class="btn btn-xs" title="Abbrechen" (click)="cancelEdit()">
              <ng-icon name="heroXMark" class="text-base" />
            </button>
          } @else {
            <span [class.line-through]="todo.is_completed" class="flex-1">{{ todo.title }}</span>
            @if (canEdit()) {
              <button class="btn btn-xs btn-ghost" title="Bearbeiten" (click)="startEdit(todo.id, todo.title)">
                <ng-icon name="heroPencil" class="text-base" />
              </button>
              <button class="btn btn-xs btn-ghost text-error" title="Entfernen" (click)="removeTodoItem(todo.id)">
                <ng-icon name="heroTrash" class="text-base" />
              </button>
            }
          }
        </li>
      } @empty {
        <li class="text-center text-sm opacity-60">
          Keine Aufgaben vorhanden.
        </li>
      }
    </ul>

  }

</div>
