<div class="flex h-screen items-center justify-center bg-base-200 px-4">

  <div class="absolute top-4 left-4">
    <app-theme-switch-component></app-theme-switch-component>
  </div>

  <router-outlet></router-outlet>

  @if (!isChildRoute()) {
    <div class="glass-wrapper h-auto max-w-lg">
      <div class="glass-card">
        <h2 class="text-3xl font-bold mb-2 text-base-content">Familie einrichten</h2>
        <p class="text-base-content mb-6">Was möchtest du tun?</p>

        <div class="flex flex-col gap-4">

          <button
            (click)="onJoinFamily()"
            class="btn-premium">
            <span>Einer Familie beitreten</span>
          </button>

          <button
            (click)="onCreateFamily()"
            class="btn btn-lg btn-secondary w-full">
            <span>Neue Familie erstellen</span>
          </button>
        </div>

        <div class="divider"></div>

      </div>
    </div>
  }
</div>
