<header class="p-4 flex items-center justify-between sticky top-0 bg-base-100 z-50 shadow-sm gap-4">

    <div class="flex-1 flex justify-start items-center gap-2">
        <label for="admin-sidebar" aria-label="open sidebar" class="btn btn-square btn-ghost lg:hidden cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </label>

        <app-theme-switch-component></app-theme-switch-component>
    </div>

    <p class="text-lg md:text-xl font-bold text-center truncate">
        Familien Dashboard
    </p>

    <div class="flex-1 flex justify-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="avatar">
                <div class="rounded-full w-10">
                    <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" alt="Profilbild" />
                </div>
            </div>

            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mt-4 z-[100]">
                <li><p>Profil</p></li>
                <li><p>Einstellungen</p></li>
                <li><p (click)="logout()">Abmelden</p></li>
            </ul>
        </div>
    </div>

</header>