<div class="flex h-screen items-center justify-center">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xl max-w-sm h-xl border p-8">
    <legend class="fieldset-legend text-lg font-bold">Login</legend>

    <label class="label mt-2">Email</label>
    <input type="email" class="input w-full" placeholder="mail@familie.de" />

    <label class="label mt-4">Password</label>
    <input type="password" class="input w-xl" placeholder="••••••••" />

    <button class="btn btn-neutral mt-8 w-xl">Login</button>
  </fieldset>
</div>